html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Abril Fatface', serif;
}

img {
	max-width: 100%;
	max-height: 100%;
	opacity: 0%;
}

.borda {
	padding: 3px 15px 3px 15px;
	border: 2px solid black;
	border-radius: 15px;
	background: #FFD7D7;
}

.borda:hover{
	color: #FFD7D7;
	background: black;
	transition: 0.5s;
}

/*-----------------------------Link-----------------------------*/
a:link, a:active, a:visited{
	color: black;
	text-decoration: none;
}

/*-----------------------------Logo-----------------------------*/
#logo {
	width: 100px;
	height: 36px;
	margin-top: .5%;
	margin-left: 80px;
}
 
#logo a:hover {
	color: white;
	transition: 0.5s;
}

.maior {
	margin: 0 auto;
	font-size: 1.3em;
	font-family: 'Abril Fatface', serif;
	font-weight: bold;
}

.menor {
	font-size: 0.75em;
	margin-top: 0;
	font-family: 'Allura', serif;
	font-style: italic;
}
/*-----------------------------Icon-----------------------------*/
#icon {
	top: 15px;
	right: 15px;
	height: 36px;
	position: absolute;
}

#insta {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../css/img/nav.png/instagram.png) no-repeat;
	background-size: cover;
	margin-right: 15px;/* espaçamento entre os icones*/
}

#zap {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../css/img/nav.png/WhatsApp.png) no-repeat;
	background-size: cover;
}
/*-----------------------------Nav-----------------------------*/
#menu {
	top: -5px;
	right: 70px;
	height: 36px;
	position: absolute;
}

nav {
	width: 947px;
	height: 48px;
	display: block;
	background: #FFD7D7;
    position: fixed;
    z-index: 5;
	opacity: 75%;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	font-weight: bold;
}

nav ul li a{
	display: block;
	margin-right: 15px; /*espaçamento entre os itens*/
	text-transform: uppercase;
}
nav ul li a:hover{
	color: #FFD7D7;
}

/*-----------------------------Div-----------------------------*/
header {
	width: 947px;
	height: 470px;
	margin: 0 auto;
	background: url(../css/img/hero.png/hero.png) no-repeat;
	background-size: cover;
}

#bot {
	width: 260.5px;
	height: 172.5px;
    position: absolute;
    top: 155px;
    left: 360px;
    z-index: 0;

	background: url(../css/img/hero.png/cliqueaqui.png) no-repeat;
	background-size: cover;
}

#container{
	width: 1345px;
	margin: 0 auto;
	/*left: 132px;*/
	position: absolute;
	border: 1px solid green;
}

/*-----------------------------Principal-----------------------------*/
#conteudo{
	width: 824px;
    height: 154.5px;
    position: absolute;
    top: 392.75px;
    left: 260px;
    /*132px + 260px*/
    z-index: 0;
	background: url(../css/img/hero.png/promocao.png) no-repeat;
	background-size: cover;
}

/*-----------------------------Serviços-----------------------------*/
#produtos{
	width: 947px;
	height: 752px;
    margin: 0 auto;
    background: #EDA9A9;
}

/*-----------------------------Sobre Nós-----------------------------*/
#sobre {
	width: 947px;
	height: 500px;
    margin: 0 auto;
    background: #FFF5F5;
	z-index: 1;
}

#paragrafo-sobre{
	width: 50%;
	height: 500px;
	float: left;
	font-family: 'Abril Fatface', cursive;
}

#fundo-sobre{
	width: 50%;
	height: 500px;
	float: left;
	background: url(../css/img/sobre.png) no-repeat;
	background-size: cover;
}

.paragrafo{
	font-family: 'Abril Fatface', serif;
	color: #9A1808;
	margin: 20%;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: 8%;
	line-height: 200%;
}

.sobre {
	color: #9A1808;
	text-align: right;	
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	margin-right: 3px;
	margin-top: 30px;
	font-size: 1.1em;
}

.nos {
	color: #FFF3F3;
	text-align: left;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 30px;
	font-size: 1.1em;
}

/*-----------------------------Depoimentos-----------------------------*/
#depoimentos {
	width: 947px;
	height: 700px;
	margin: 0 auto;
    background: #FFF5F5;
}

#depoi {
	width: 100%;
	height: 20%;
	float: left;
}
#avaliacao{
	width: 60%;
	height: 80%;
	float: left;
}

#comentario{
	width: 40%;
	height: 80%;
	float: right;
}

.texto-av{
	width: 325px;
	height: 120px;

	float: right;
	margin-bottom: 35px;
	border-left: 3px solid gray;
}
.av{
	width: 135px;
	height: 125px;
	margin: 0px 20px 30px 75px;
}
#av1{
	float: left;
	background: url(../css/img/depoimentos/Ellipse1.png);
	background-size: cover;
}

#av2{
	float: left;
	background: url(../css/img/depoimentos/Ellipse2.png);
	background-size: cover;
}

#av3{
	float: left;
	background: url(../css/img/depoimentos/Ellipse3.png);
	background-size: cover;
}

/*-----------------------------footer-----------------------------*/
footer {
	width: 947px;
	height: 187px;
	margin: 0 auto;
    background: #C7CECA;
}

#copy{
	right: 200px;
	bottom: 0;
	position: absolute;
}

.contatos{
	color: white;
	/**/
}

/*-----------------------------Div Botão-----------------------------*/
#bot1 {
	width: 122px;
	height: 26px;
    border-radius: 40px;
    background: #C7CECA;
    position: absolute;
    top: 1470px;
    left: 392px;
    z-index: 0;
}
/*-----------------------------Div Botão-----------------------------*/
#card {
	width: 160px;
	height: 300px;
   
    
	float: left;

    margin-top: 10px;
    margin-left: 77.5px;
    margin-right: 77.5px;
    margin-bottom: 10px;

}

/*-----------------------------Teste-----------------------------*/
p {
	font-family: 'Exo', sans-serif;
	margin: .3em;
    text-align: center;
}
h2 {
	margin: .3em;
    text-align: center;
}

#Lingerie1{
	background: url(../css/img/lingeriefloralvermelha.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}

.Lingerie1{
	color: #EDA9A9;
}

#Lingerie2{
	background: url(../css/img/lingeriebranca1.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}


#Lingerie3{
	background: url(../css/img/lingerierosa.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}

#Dildo1{
	background: url(../css/img/vibradorroxo.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}

#Dildo2{
	background: url(../css/img/dildoamor1.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}

#Dildo3{
	background: url(../css/img/kitpompoarismonovaball1.png) no-repeat;
	background-size: cover;
	width: 161px;
	height: 210px;
}
