@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Bona+Nova&family=Exo:wght@400;700&display=swap');



html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Abril Fatface', serif;
}

img {
	max-width: 100%;
	max-height: 100%;
	opacity: 0%;
}

.borda {
	padding: 3px 15px 3px 15px;
	border: 2px solid black;
	border-radius: 15px;
	background: #FFD7D7;
}

.borda:hover{
	color: #FFD7D7;
	background: black;
	transition: 0.5s;
}

/*-----------------------------Link-----------------------------*/
a:link, a:active, a:visited{
	color: black;
	text-decoration: none;
}

/*-----------------------------Logo-----------------------------*/
#logo {
	background: url(../css/img/footer/logo2.png);
	background-size: cover;
	width: 100px;
	height: 45px;
	margin-top: 0px;
	margin-left: 80px;
}

#logo:hover{
	transform:scale(1.20,1.20);
	transition: 0.3s;
}

/*-----------------------------Icon-----------------------------*/
#icon {
	top: 15px;
	right: 15px;
	height: 36px;
	position: absolute;
}

#insta {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../css/img/nav.png/instagram.png) no-repeat;
	background-size: cover;
	margin-right: 15px;/* espaçamento entre os icones*/
}

#zap {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../css/img/nav.png/WhatsApp.png) no-repeat;
	background-size: cover;
}
/*-----------------------------Nav-----------------------------*/
#menu {
	top: -5px;
	right: 70px;
	height: 36px;
	position: absolute;
}

nav {
	width: 947px;
	height: 48px;
	display: block;
	background: #FFD7D7;
    position: fixed;
    z-index: 5;
	opacity: 75%;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	font-weight: bold;
}

nav ul li a{
	display: block;
	margin-right: 15px; /*espaçamento entre os itens*/
	text-transform: uppercase;
}
nav ul li a:hover{
	color: #FFD7D7;
}

/*-----------------------------Div-----------------------------*/
header {
	width: 947px;
	height: 470px;
	margin: 0 auto;
	background: url(../css/img/hero.png/hero.png) no-repeat;
	background-size: cover;
}

#bot {
	width: 286px;
	height: 189px;
    position: relative;
    top: 190px;
    left: 70px;
    z-index: 0;

	background: url(../css/img/hero.png/cliqueaqui.png) no-repeat;
	background-size: cover;
}

#container{
	width: 1345px;
	margin: 0 auto;
	/*left: 132px;*/
	position: absolute;
	border: 1px solid green;
}

/*-----------------------------Principal-----------------------------*/
#conteudo{
	width: 824px;
    height: 154.5px;
    position: absolute;
    top: 392.75px;
    left: 260px;
    /*132px + 260px*/
    z-index: 0;
	background: url(../css/img/hero.png/novapromo.png) no-repeat;
	background-size: cover;
}

/*-----------------------------Serviços-----------------------------*/
#produtos{
	font-family: 'Exo', sans-serif;
	font-family: 'Stick no Bills', sans-serif;
	width: 947px;
	height: 800px;
    margin: 0 auto;
    background: #EDA9A9;
}

/*-----------------------------Sobre Nós-----------------------------*/
#sobre {
	width: 947px;
	height: 500px;
    margin: 0 auto;
    background: #FFF5F5;
	z-index: 1;
}

#paragrafo-sobre{
	width: 50%;
	height: 500px;
	float: left;
	font-family: 'Abril Fatface', cursive;
}

#fundo-sobre{
	width: 50%;
	height: 500px;
	float: left;
	background: url(../css/img/sobre.png) no-repeat;
	background-size: cover;
}

.paragrafo{
	font-family: 'Abril Fatface', serif;
	color: #9A1808;
	margin: 20%;
	text-align: center;
	font-size: 1.1em;
	letter-spacing: 8%;
	line-height: 200%;
}

.sobre {
	color: #9A1808;
	text-align: right;	
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	margin-right: 3px;
	margin-top: 30px;
	font-size: 1.1em;
}

.nos {
	color: #FFF3F3;
	text-align: left;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 30px;
	font-size: 1.1em;
}

/*-----------------------------Depoimentos-----------------------------*/
#depoimentos {
	width: 947px;
	height: 700px;
	margin: 0 auto;
    background: #FFF5F5;
}

#depoi {
	width: 100%;
	height: 20%;
	float: left;

	font-size: 16;
	font-family: 'Exo';
	font-weight: bold;
	color: #9A1808;
}
#avaliacao{
	width: 60%;
	height: 80%;
	float: left;

}

#comentario{
	width: 40%;
	height: 80%;
	float: right;
}

.texto-av{
	width: 325px;
	height: 120px;

	float: right;
	margin-bottom: 35px;
	border-left: 3px solid gray;
}
.av{
	width: 135px;
	height: 125px;
	margin: 0px 20px 30px 75px;
}
#av1{
	float: left;
	background: url(../css/img/depoimentos/Ellipse1.png);
	background-size: cover;
}

#av2{
	float: left;
	background: url(../css/img/depoimentos/Ellipse2.png);
	background-size: cover;
}

#av3{
	float: left;
	background: url(../css/img/depoimentos/Ellipse3.png);
	background-size: cover;
}

/*-----------------------------footer-----------------------------*/
footer {
	width: 947px;
	height: 187px;
	margin: 0 auto;
    background-image: linear-gradient(to top, white, #FFD7D7)
}

#logo2 {
	background: url(../css/img/footer/logo2.png);
	background-size: cover;
	position: relative;
	width: 100px;
	height: 60px;
	top: 10px;

	/*margin-top: 0px;*/
	margin-left: 80px;
}

#copy{
	right: 200px;
	bottom: 0;
	position: absolute;

	font-family: 'Bona Nova';
	font-size: 10;
	
	color: rgba(0, 0, 0, 0.65);
}

#contatos{
	position: relative;
	width: 86px;
	height: 10px;
	left: 433px;
	top: -48px;

	text-align: center;
    line-height: 0.1em;
	letter-spacing: 0.1em;
	font-family: 'Abril Faltface', serif;
	font-size: 22;
	font-weight: bold;

	color: #000
}

.contatos{
	position: relative;
    line-height: 1em;
	letter-spacing: 0.2em;
	top: -30px;

	text-align: center;
	font-family: 'Bona Nova', serif;
	font-size: 20;

	color: #000;
	/**/
}

#pagamentos{
	height: 10px;
	width: 900px;
	nav-left: 200px;
	position: relative;
	left: 380px;
	top: -40px;
	bottom: 5%;
	text-align: center;

	line-height: 100%;
	letter-spacing: 10%;

	font-family: 'Abril Faltface', serif;
	font-size: 22;
	font-weight: bold;

	color: #000
}

#visaemaster{
	background: url(../css/img/footer/visaemaster.png);
	background-size: cover;
}
/*-----------------------------Div Botão-----------------------------*/
#bot1 {
	width: 122px;
	height: 26px;
    border-radius: 40px;
    background: #C7CECA;
    position: absolute;
    top: 1470px;
    left: 392px;
    z-index: 0;
}
/*-----------------------------Div Botão-----------------------------*/
#card {
	width: 160px;
	height: 300px;
   
	float: left;

    margin-top: 10px;
    margin-left: 77.5px;
    margin-right: 77.5px;
    margin-bottom: 10px;

}

/*-----------------------------Teste-----------------------------*/
p {
	font-family: 'Exo', sans-serif;
	margin: .3em;
    text-align: center;
}
h2 {
	margin: .3em;
    text-align: center;
}

#setores{
	position: relative;
	width: 86px;
	height: 10px;
	left: 445px;
	top: 0px;

	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.08em;
	color: #9A1808;
}

#vector{
	position: relative;
	width: 100px;
	height: 0px;
	left: -12px;
	top: -16px;
	border: 0.1px solid rgba(37, 33, 33, 0.19);
}


#Lingerie1{
	background: url(../css/img/lingeriefloralvermelha.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Lingerie1:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}

#Lingerie2{
	background: url(../css/img/lingeriebranca1.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Lingerie2:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}

#Lingerie3{
	background: url(../css/img/lingerierosa.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Lingerie3:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}


#Dildo1{
	background: url(../css/img/vibradorroxo.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Dildo1:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}

#Dildo2{
	background: url(../css/img/dildoamor1.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Dildo2:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}

#Dildo3{
	background: url(../css/img/kitpompoarismonovaball1.png) no-repeat;
	background-size: cover;
	width: 184px;
	height: 240px;
}

#Dildo3:hover{
	transform:scale(1.15,1.15);
	transition: 0.4s;
}


#Title{
	position: relative;
	width: 230px;
	height: 45px;
	left: -22px;
	top: 0px;

	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 150%;

	text-align: center;
	letter-spacing: 0.3em;

	color: rgba(0, 0, 0, 0.65);
	
}

#preco{
	font-weight: bold;
	font-size: 12px;
	position: relative;
	width: 230px;
	height: 45px;
	left: -22px;
	top: -15px;

	text-align: center;
	letter-spacing: 0.3em;
}

#carrinho{
	background: url(../css/img/nav.png/shopping.png) no-repeat;
	background-size: cover;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 160px;
	top: -2px;
}