/*-----------------------------Header-----------------------------*/
header {
	/*width: 100%;*/
	width: 1345px;
	height: 560px;

	background: url(../img/header/hero.png) no-repeat;
	background-size: cover;
}

#logo-header {
    top: 230px;
    left: 100px;
	position: relative;
    z-index: 0;
	
	width: 285px;
	height: 190px;
	background: url(../img/header/logo.png) no-repeat;
	background-size: cover;
}

/*-----------------------------Principal-----------------------------*/
#conteudo{
	width: 824px;
    height: 154.5px;
    position: absolute;
    top: 482.75px;
    left: 260px;
    /*132px + 260px*/
    z-index: 0;
	background: url(../img/header/promo.png) no-repeat;
	background-size: cover;
}
